{% extends 'mainapp/base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block title %}{{ title_name }}{% endblock %}
{% block content %}


    <!-- Block search-->
    <div class="container">
        <form class="d-flex" role="search" method="GET" action="{% url 'mainapp:search' %}">
          <input class="form-control me-2" name="q" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit" href="">Поиск</button>
        </form>
    </div>
    <!-- End Block search-->
    <!-- Блок Каталог -->
    <div class="container">
        <h1 class="title_page">{{ category }}</h1>
    </div>
   
    <div class="container catalog_block" style="margin-top: 50px">
        
        <!--Левая колонка-->
        <div class="col-md-3 l_c" style="background: #E96300;color: white;">
            <h2 id="catalog-product"> Каталог</h2>
            <ul class="list-group">
                {% for cat in categories %}
                    <li {% if category.slug == cat.slug %}
                        class="list-group-item activ"
                        {% else %}
                        class="list-group-item"
                        {% endif %}> 
                        <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a> </li>

                {% endfor %}
            </ul>
        </div>
        <!--КОНЕЦ Левая колонка-->
      
           
        <!-- Header-->
        <div class="items list" >
            <div class="product-item-list" id="bx_1847241719_118">
                <div>
                    <a href="/catalog/bobyshki/bobyshka-pryamaya-bp1/" class="image">
                        <img class="image-catalog" src="{% static 'img/atchik_stands/klapan-2.jpg' %}" alt="" title="">
                    </a>
                    <div class="information-desc">
                        <div class="information">
                            
                            <div class="wrap-x1">
                                <div class="category"></div>
                                <div class="name"><h3>Бобышки прямые БП01</h3></div>
                            </div>
                            
                            <div class="buttons">
                                <a href="#" class="pc_btn pc_btn_oran">Подробнее</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="tab-product-description">
                    <div class="overflowx">
                        <!-- Фиксированная шапка таблицы -->
                        <div class="tab-product-table-fixed">
                            <div class="thead">
                                <div class="td"><p align="center"><b>Наименование</b></p></div>
                                <div class="td"><p align="center"><b>Материал</b></p></div>
                                <div class="td"><p align="center"><b>D внеш., мм</b></p></div>
                                <div class="td"><p align="center"><b>Длина, L- мм</b></p></div>
                                <div class="td"><p align="center"><b>В корзину</b></p></div>
                                <div class="td"><p align="center"><b>Детали</b></p></div>       
                            </div>
                        </div>
    
                        <!-- основная таблица -->
                        <table cellpadding="0" border="0" class="tab-product-table">
                            <thead>
                                <tr>
                                    <td><p align="center"><b>Наименование</b></p></td>
                                    <td><p align="center"><b>Материал</b></p></td>
                                    <td><p align="center"><b>D внеш., мм</b></p></td>
                                    <td><p align="center"><b>Длина, L- мм</b></p></td>
                                    <td><p align="center"><b>В корзину</b></p></td>
                                    <td><p align="center"><b>Детали</b></p></td>
                                </tr>
                            </thead>
                            <tbody>	
                                <tr>
                                    <td>
                                        <p id="bx_1847241719_4120">
                                            <a hreflang="ru" class="table-link pc_title" 
                                            href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-30-st-20/">
                                            БП01-М12*1,5-30 ст.20</a></p>
                                    </td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>30 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-30-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4527">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-30-st-08h18n10-nerzh-stal/">
                                        БП01-М12*1,5-30 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>30 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-30-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4528">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-50-st-20/">
                                        БП01-М12*1,5-50 ст.20</a></p>
                                    </td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-50-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4529">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-50-st-08h18n10-nerzh-stal/">
                                        БП01-М12*1,5-50 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-50-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4530">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-100-st-20/">
                                        БП01-М12*1,5-100 ст.20</a></p></td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-100-st-20/">Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4531">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-100-st-08h18n10-nerzh-stal/">
                                        БП01-М12*1,5-100 ст.08х18н10 (нерж.сталь)</a></p></td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m12-1-5-100-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4532">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-30-st-20/">
                                        БП01-G1/4-30 ст.20</a></p></td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>30 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-30-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4533">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-30-st-08h18n10-nerzh-stal/">
                                        БП01-G1/4-30 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>30 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-30-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4534">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-50-st-20/">
                                        БП01-G1/4-50 ст.20</a></p>
                                    </td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-50-st-20/">Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4535">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-50-st-08h18n10-nerzh-stal/">
                                        БП01-G1/4-50 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-50-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4536">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-100-st-20/">
                                        БП01-G1/4-100 ст.20</a></p>
                                    </td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-100-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4537">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-100-st-08h18n10-nerzh-stal/">
                                        БП01-G1/4-100 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-g1-4-100-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4538">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-r1-4-50-st-20/">
                                        БП01-R1/4-50 ст.20</a></p>
                                    </td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-r1-4-50-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4539">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-r1-4-50-st-08h18n10-nerzh-stal/">
                                        БП01-R1/4-50 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-r1-4-50-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4540">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-r1-4-100-st-20/">
                                        БП01-R1/4-100 ст.20</a></p>
                                    </td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-r1-4-100-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4541">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-r1-4-100-st-08h18n10-nerzh-stal/">
                                        БП01-R1/4-100 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-r1-4-100-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4542">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-k1-4-npt-1-4--50-st-20/">
                                        БП01-К1/4 (NPT 1/4)-50 ст.20</a></p>
                                    </td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-k1-4-npt-1-4--50-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4543">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-k1-4-npt-1-4--50-st-08h18n10-nerzh-stal/">
                                        БП01-К1/4 (NPT 1/4)-50 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-k1-4-npt-1-4--50-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4544">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-k1-4-npt-1-4--100-st-20/">
                                        БП01-К1/4 (NPT 1/4)-100 ст.20</a></p>
                                    </td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-k1-4-npt-1-4--100-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4545">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-k1-4-npt-1-4--100-st-08h18n10-nerzh-stal/">
                                        БП01-К1/4 (NPT 1/4)-100 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>22 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-k1-4-npt-1-4--100-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4546">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-30-st-20/">
                                        БП01-М16*1,5-30 ст.20</a></p>
                                    </td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>30 </p></td>
                                    <td><p>30 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-30-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4547">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-30-st-08h18n10-nerzh-stal/">
                                        БП01-М16*1,5-30 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>30 </p></td>
                                    <td><p>30 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-30-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4548">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-50-st-20/">
                                        БП01-М16*1,5-50 ст.20</a></p></td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>30 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-50-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4549">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-50-st-08h18n10-nerzh-stal/">
                                        БП01-М16*1,5-50 ст.08х18н10 (нерж.сталь)</a></p></td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>30 </p></td>
                                    <td><p>50 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-50-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4550">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-100-st-20/">
                                        БП01-М16*1,5-100 ст.20</a></p></td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>30 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-100-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4551">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-100-st-08h18n10-nerzh-stal/">
                                        БП01-М16*1,5-100 ст.08х18н10 (нерж.сталь)</a></p></td>
                                    <td><p>сталь 08х18н10 </p></td>
                                    <td><p>30 </p></td>
                                    <td><p>100 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m16-1-5-100-st-08h18n10-nerzh-stal/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
                                <tr>
                                    <td><p id="bx_1847241719_4552">
                                        <a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m20h1-5-30-st-20/">
                                        БП01-М20х1,5-30 ст.20</a></p></td>
                                    <td><p>сталь 20 </p></td>
                                    <td><p>30 </p></td>
                                    <td><p>30 </p></td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" style="border: none;font-size: 0.8rem" data-id="{{ product.id }}">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="/catalog/bobyshki/bobyshka-pryamaya-bp1/bp01-m20h1-5-30-st-20/">
                                        Подробнее &gt;</a></p></td>
                                </tr>
    
                            </tbody>
                        </table>
    
                    </div>			
                </div>
                
        
            </div>
            <p></p>
        </div>
        
            <!--Конец Таблица товаров-->

       
    </div>
    <!-- КОНЕЦ Блок Каталог -->
   
    {% block help %}
    {% include 'includes/inc_help.html' %}
    {% endblock %}

    
    
    {% endblock %}