{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}


    <!-- Block search-->
    <div class="container">
        <form class="d-flex" role="search" method="GET" action="#">
          <input class="form-control me-2" name="q" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit" href="">Поиск</button>
        </form>
    </div>
    <!-- End Block search-->
    <!-- Блок Заголовок страницы -->
    <div class="container">
        <h1 class="title_page">Бобышки</h1>
    </div>
   <!-- End Блок Заголовок страницы -->
    <!-- Блок Каталог -->
    <div class="container catalog_block" style="margin-top: 50px">
        <!--Левая колонка-->
        <div class="col-md-3 l_c" style="background: #E96300;color: white;">
            <h2 style="margin-top: 20px;" id="catalog-product"> Каталог</h2>
            <ul class="list-group">
                <li class="list-group-item activ"> <a href="#">Бобышки</a> </li>
                <li class="list-group-item"> <a href="#">Гильзы защитные</a> </li>
                <li class="list-group-item"> <a href="#">Демпферное устройство</a> </li>
                
            </ul>
        </div>
        <!--КОНЕЦ Левая колонка-->
        <!--Карточки товаров-->
        <div class="col-md-10 col-sm-12 d-flex flex-wrap justify-content-around">
            <!--Карточка-->
            <div class="product_card">
                <div class="">
                    <img class="" src="{% static 'img/product/catalog/01-bobyshka/bobyshka_bp01_img.jpg' %}" width="320px" height="250px"
                    style="border-radius: 10px;">
                </div>
                <div class="d-flex flex-column justify-content-between" style="margin: 10px 0 0 20px;height: 115px;">
                    <div class="pc_title">Бобышки тип БП01</div>
                    <div class="d-flex">
                        
                        <div class="d-flex flex-row align-items-center" style="margin-left: 160px;">
                            <a class="pc_link" href="{% url 'mainapp:bobyshki-table' %}#catalog-product" style="text-decoration: none;">Подробнее</a>
                            <img src="{% static 'img/vector_211.png' %}" width="32px" height="20px">
                        </div>
                    </div>
                </div>
            </div>
            <!--КОНЕЦ Карточка-->
            <!--Карточка-->
            <div class="product_card">
                <div class="">
                    <img class="" src="{% static 'img/product/catalog/01-bobyshka/bobyshka_bp02_img.jpg' %}" width="320px" height="250px"
                    style="border-radius: 10px;">
                </div>
                <div class="d-flex flex-column justify-content-between" style="margin: 10px 0 0 20px;height: 115px;">
                    <div class="pc_title">Бобышки тип БП02</div>
                    <div class="d-flex">
                        
                        <div class="d-flex flex-row align-items-center" style="margin-left: 160px;">
                            <a class="pc_link" href="" style="text-decoration: none;">Подробнее</a>
                            <img src="{% static 'img/vector_211.png' %}" width="32px" height="20px">
                        </div>
                    </div>
                </div>
            </div>
            <!--КОНЕЦ Карточка-->
            <!--Карточка-->
            <div class="product_card">
                <div class="">
                    <img class="" src="{% static 'img/product/catalog/01-bobyshka/bobyshka_bp03_img.jpg' %}" width="320px" height="250px"
                    style="border-radius: 10px;">
                </div>
                <div class="d-flex flex-column justify-content-between" style="margin: 10px 0 0 20px;height: 115px;">
                    <div class="pc_title">Бобышки тип БП03</div>
                    <div class="d-flex">
                        
                        <div class="d-flex flex-row align-items-center" style="margin-left: 160px;">
                            <a class="pc_link" href="" style="text-decoration: none;">Подробнее</a>
                            <img src="{% static 'img/vector_211.png' %}" width="32px" height="20px">
                        </div>
                    </div>
                </div>
            </div>
            <!--КОНЕЦ Карточка-->
        </div>
        <!--КОНЕЦ Карточки товаров-->
    </div>
    <!-- КОНЕЦ Блок Каталог -->
   
    {% block help %}
    {% include 'includes/inc_help.html' %}
    {% endblock %}

    
    
    {% endblock %}