{% extends 'mainapp/base.html' %}
{% load static %}


{% block title %}{{ title_name }}{% endblock %}
{% block content %}


    <!-- Block search-->
    <div class="container">
        <form class="d-flex" role="search" method="GET" action="#">
          <input class="form-control me-2" name="q" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit" href="">Поиск</button>
        </form>
    </div>
    <!-- End Block search-->
    <!-- Блок Заголовок страницы -->
    <div class="container">
        <h1 class="title_page">{{ group_a.name }}</h1>
    </div>
   <!-- End Блок Заголовок страницы -->
    <div class="container catalog_block" style="margin-top: 50px">
        
        <!--Левая колонка-->
        <div class="col-md-3 l_c" style="background: #E96300;color: white;">
            <h2 style="margin-top: 20px;" id="catalog-product"> Каталог</h2>
            <ul class="list-group">
                {% for group in groups %}
                <li class="list-group-item {% if group.slug == group_a.slug %}activ{% endif %}"> 
                    <a href="{% url 'mainapp:group' group.slug %}">{{ group.name }}</a> </li>
                {% endfor %}
            </ul>
        </div>
        <!--КОНЕЦ Левая колонка-->
      
           
        <!-- Header-->
        <div class="col-md-10 col-sm-12 d-flex flex-wrap justify-content-around">
            {% for subgroup in subgroups %}
            <!--Карточка-->
            <div class="product_card">
                <div class="">
                    <img class="product_card_img" src="/static/{{ subgroup.url_img }}">
                </div>
                <div class="product_card_text">
                    <div class="pc_title">{{ subgroup.name }}</div>
                    <div class="d-flex">
                        
                        <div class="d-flex flex-row" style="margin-left: 160px;">
                            <a class="pc_link" href="{{ subgroup.get_absolute_url }}" style="text-decoration: none;">Подробнее</a>
                            <img src="{% static 'img/vector_211.png' %}" width="32px" height="20px">
                        </div>
                    </div>
                </div>
            </div>
            <!--КОНЕЦ Карточка-->
            {% endfor %}
            
            
        </div>
        <!--КОНЕЦ Карточки товаров-->
       
    </div>
    <!-- КОНЕЦ Блок Каталог -->
   
    {% block help %}
    {% include 'includes/inc_help.html' %}
    {% endblock %}

    
    
    {% endblock %}