{% extends 'mainapp/base.html' %}
{% load static %}


{% block title %}{{ title_name }}{% endblock %}
{% block content %}


    <!-- Block search-->
    <div class="container">
        <div class="crumb mb-3">
            <a href="{% url 'mainapp:index' %}">Главная</a><span class="razdel">/</span><b>{{ category.name }}</b>
        </div>
        <form class="d-flex" role="search" method="GET" action="#">
          <input class="form-control me-2" name="q" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit" href="">Поиск</button>
        </form>
    </div>
    <!-- End Block search-->
    {% if categories %}
    <!-- Блок Заголовок страницы -->
    <div class="container">
        <h1 class="title_page">{{ category.name }}</h1>
    </div>
   <!-- End Блок Заголовок страницы -->
    <div class="container catalog_block" style="margin-top: 50px">
        
        <!--Левая колонка-->
        <div class="col-md-3 l_c" style="background: #E96300;color: white;">
            <h2 style="margin-top: 20px;" id="catalog-product"> Каталог</h2>
            <ul class="list-group">
                {% for cat in categories %}
                <li class="list-group-item {% if cat.slug == category.slug %}activ{% endif %}"> 
                    <a href="{{ cat.get_absolute_url }}">
                    {{ cat.name }}</a> </li>
                {% endfor %}
            </ul>
        </div>
        <!--КОНЕЦ Левая колонка-->
      
           
        <!-- Правая колонка-->
        <div class="col-md-10 col-sm-12 d-flex flex-wrap justify-content-around">
            {% for group in groups_category %}
            <!--Карточка-->
            <div class="product_card">
                <div class="">
                    <img class="product_card_img" src="{{ group.url_img }}">
                </div>
                <div class="product_card_text">
                    <div class="pc_title">{{ group.name }}</div>
                    <div class="d-flex">
                        
                        <div class="d-flex flex-row" style="margin-left: 160px;">
                            <a class="pc_link" href="{{ group.get_absolute_url }}" style="text-decoration: none;">Подробнее</a>
                            <img src="{% static 'img/right-arrow.svg' %}" width="32px" height="20px">
                        </div>
                    </div>
                </div>
            </div>
            <!--КОНЕЦ Карточка-->
            {% endfor %}
            
     
            
        </div>
        <!--КОНЕЦ Правой колонки-->
       
    </div>
    <!-- КОНЕЦ Блок Каталог -->
     {% else %}
        <h1 class="title_page">Информации пока нет</h1>
     {% endif %}
   
    {% block help %}
    {% include 'includes/inc_help.html' %}
    {% endblock %}

    
    
    {% endblock %}