{% extends 'mainapp/base.html' %}
{% load static %}


{% block title %}{{ title_name }}{% endblock %}
{% block content %}


    <!-- Block search-->
    <div class="container">
        <form class="d-flex" role="search" method="GET" action="#">
          <input class="form-control me-2" name="q" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit" href="">Поиск</button>
        </form>
    </div>
    <!-- End Block search-->
    <!-- Блок Каталог -->
    <div class="container">
        <h1 class="title_page">{{ subgroup_a.name }}</h1>
    </div>
   
    <div class="container catalog_block" style="margin-top: 50px">
        
        <!--Левая колонка-->
        <div class="col-md-3 l_c" style="background: #E96300;color: white;">
            <h2 style="margin-top: 20px;" id="catalog-product"> {{ subgroup_a.group.name }}</h2>
            <ul class="list-group">
                {% for subgroup in subgroups %}
                <li class="list-group-item {% if subgroup.slug == subgroup_a.slug %}activ{% endif %}"> 
                    <a href="{% url 'mainapp:subgroup' subgroup.slug %}">{{ subgroup.name }}</a> </li>
                {% endfor %}
            </ul>
        </div>
        <!--КОНЕЦ Левая колонка-->
      
           
        <!-- Table-->
        <div class="col-md-10 d-flex flex-wrap justify-content-around">
            <!-- Header-->
        <div class="items list" >
            <div class="product-item-list" id="bx_1847241719_118">
                <div class="product-item-list-tt">
                    <a href="#" class="image">
                        <img class="image-catalog" src="/static/{{ subgroup_a.url_img }}" alt="" title="">
                    </a>
                    <div class="information-desc">
                        <div class="information">
                            
                            <div class="wrap-x1">
                                <div class="category"></div>
                                <div class="name"><h3>{{ subgroup_a.name }}</h3></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="tab-product-description">
                    <div class="overflowx">
                        <!-- Фиксированная шапка таблицы -->
                        <div class="tab-product-table-fixed">
                            <div class="thead">
                                <div class="td"><p align="center"><b>Наименование</b></p></div>
                                <div class="td"><p align="center"><b>В корзину</b></p></div>
                                <div class="td"><p align="center"><b>Детали</b></p></div>       
                            </div>
                        </div>
    
                        <!-- основная таблица -->
                        <table cellpadding="0" border="0" class="tab-product-table">
                            <thead>
                                <tr>
                                    <td><p align="center"><b>Наименование</b></p></td>
                                    <td><p align="center"><b>В корзину</b></p></td>
                                    <td><p align="center"><b>Детали</b></p></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}	
                                <tr>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">
                                        {{ product.name }}</a></p>
                                    </td>
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_oran" 
                                        data-name="{{ product.name }}"
                                        data-id="4120">В корзину</button>
                                    </td>
                                    <td><p align="center"><a hreflang="ru" class="table-link" 
                                        href="{% url 'mainapp:product-detail' %}">Подробнее &gt;</a></p></td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
    
                    </div>	
                    <div class="overflowx mobile">
                        <table cellpadding="0" border="0" class="tab-product-table-item">
                            <tbody>
                                <tr class="two-colums">
                                    <td>Наименование</td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">
                                            БП01-М12*1,5-30 ст.20</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Материал</td>
                                    <td>сталь 20</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>D внеш., мм</td>
                                    <td>22</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Длина, L- мм</td>
                                    <td>30</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_wi"
                                        data-name="БП01-М12*1,5-30 ст.20"
                                        data-id="4536">В корзину</button>
                                    </td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">Подробнее &gt;</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>	
                        <table cellpadding="0" border="0" class="tab-product-table-item">
                            <tbody>
                                <tr class="two-colums">
                                    <td>Наименование</td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">
                                            БП01-М12*1,5-30 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Материал</td>
                                    <td>сталь 08х18н10</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>D внеш., мм</td>
                                    <td>22</td>
                                </tr>
                                <tr></tr><tr class="two-colums">
                                    <td>Длина, L- мм</td>
                                    <td>30</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_wi"
                                        data-name="БП01-М12*1,5-30 ст.08х18н10 (нерж.сталь)"  
                                        data-id="4537">В корзину</button>
                                    </td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">Подробнее &gt;</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>	
                        <table cellpadding="0" border="0" class="tab-product-table-item">
                            <tbody>
                                <tr class="two-colums">
                                    <td>Наименование</td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">
                                            БП01-М12*1,5-50 ст.20</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Материал</td>
                                    <td>сталь 20</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>D внеш., мм</td>
                                    <td>22</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Длина, L- мм</td>
                                    <td>50</td>
                                </tr>
                                <tr></tr>
                                
                                <tr class="two-colums">
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_wi"  
                                        data-name="БП01-М12*1,5-50 ст.20"
                                        data-id="4538">В корзину</button>
                                    </td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">Подробнее &gt;</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>	
                        <table cellpadding="0" border="0" class="tab-product-table-item">
                            <tbody>
                                <tr class="two-colums">
                                    <td>Наименование</td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" 
                                            href="#">БП01-М12*1,5-50 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Материал</td>
                                    <td>сталь 08х18н10</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>D внеш., мм</td>
                                    <td>22</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Длина, L- мм</td>
                                    <td>50</td>
                                </tr>
                                <tr></tr>
                                
                                <tr class="two-colums">
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_wi"
                                        data-name="БП01-М12*1,5-50 ст.08х18н10 (нерж.сталь)"  
                                        data-id="4539">В корзину</button>
                                    </td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">Подробнее &gt;</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>	
                        <table cellpadding="0" border="0" class="tab-product-table-item">
                            <tbody>
                                <tr class="two-colums">
                                    <td>Наименование</td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" 
                                            href="#">БП01-М12*1,5-100 ст.20</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Материал</td>
                                    <td>сталь 20</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>D внеш., мм</td>
                                    <td>22</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Длина, L- мм</td>
                                    <td>100</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_wi"
                                        data-name="БП01-М12*1,5-100 ст.20"  
                                        data-id="4540">В корзину</button>
                                    </td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">Подробнее &gt;</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>	
                        <table cellpadding="0" border="0" class="tab-product-table-item">
                            <tbody>
                                <tr class="two-colums">
                                    <td>Наименование</td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" 
                                            href="#">БП01-М12*1,5-100 ст.08х18н10 (нерж.сталь)</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Материал</td>
                                    <td>сталь 08х18н10</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>D внеш., мм</td>
                                    <td>22</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Длина, L- мм</td>
                                    <td>100</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>Цена, с НДС</td>
                                    <td>605</td>
                                </tr>
                                <tr></tr>
                                <tr class="two-colums">
                                    <td>
                                        <button class="card__add pc_btn2 pc_btn_wi"
                                        data-name="БП01-М12*1,5-100 ст.08х18н10 (нерж.сталь)" 
                                        data-id="4541">В корзину</button>
                                    </td>
                                    <td>
                                        <p><a hreflang="ru" class="table-link" href="#">Подробнее &gt;</a></p>
                                    </td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>	
                    </div>		
                </div>
                	
            
                </div>
        
            </div>
            <p></p>
        </div>
        
        <!--Конец Таблица товаров-->
        </div>
            
       
    </div>
    <!-- КОНЕЦ Блок Каталог -->
   
    {% block help %}
    {% include 'includes/inc_help.html' %}
    {% endblock %}

    
    
    {% endblock %}