{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}


           
    <!--Блок Контакты-->
    <div class="container">
        <div class="detail-card text_orange" style="text-align: center;">
            <h1 style="padding-top: 50px;text-align: center;">Контакты</h1>
            <p>Полное наименование : Общество с ограниченной ответственностью «УралКИП»</p>
            <p>Сокращенное название: ООО «УралКИП»</p>
            <p><iframe src="https://yandex.ru/map-widget/v1/?scroll=false&amp;um=constructor%3AtWk0lxPR-o-Wm9z_hiYP4dXe_E-WxqHR" frameborder="0" allowfullscreen="true" width="100%" height="450px" 
                style="display: block;margin: 0 auto;padding: 0 50px;"></iframe></p>
            <p>Фактический адрес:&nbsp;620137,<span style="color: rgb(0, 0, 0); font-family: 'Times New Roman', serif;">&nbsp;</span>г.Екатеринбург, ул. Вилонова, 45Е, офис 407</p>
            <p>Тел/факс:&nbsp; <a href="tel:+73432068510">(343)206-85-10</a>,&nbsp;<a href="tel:+73433448137">(343)344-81-37</a></p>
            <p>E-mail: ural-kip@mail.ru,&nbsp;info@ural-kip.ru</p>
            <p>Режим работы: ПН - ПТ с 9:00 до 17:00, СБ - ВС - выходной</p>
            <p><strong>Схема проезда:</strong></p>
            <p>Въезд с ул. Данилы Зверева</p>
            <p><img src="{% static 'img/imgo.jpeg' %}"></p>
            <p><strong>Реквизиты&nbsp;ООО «УралКИП»</strong></p>
            <p>ИНН 6658456636/ КПП 665801001</p>
            <p>ОКПО 36424046</p>
            <div>р/счет 40702810405000005959</div>
            <div>&nbsp;</div>
            <div>к/счет 30101810500000000975</div>
            <div>&nbsp;</div>
            <div>в УРАЛЬСКИЙ ФИЛИАЛ ПАО «ПРОМСВЯЗЬБАНК»</div>
            <div>&nbsp;</div>
            <div>БИК 046577975</div>
            <p style="padding-bottom: 50px;">&nbsp;</p>
        </div>
    </div>
    <!--КОНЕЦ Блок Контакты-->
    
    {% endblock %}