{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}


    
        <!-- Блок ЗАГОЛОВОК Название Пункта-->
        <div class="container">
            <div class="row">
                <div class="col bread">
                    <ul class="breadprumps d-flex flex-row" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadprumps-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a class="breadprumps-item-link" href="/" title="Главная" itemprop="item">Главная</a> &gt;
                    </li>
                    <li class="breadprumps-item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">    
                        <a class="breadprumps-item-link" href="{% url 'mainapp:catalog' %}" title="Каталог" itemprop="item">Каталог
                        </a> &gt;
                    </li>
                    <li class="breadprumps-item">Бобышка БП01</li></ul>		</div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="product-title">Бобышка БП01</h1>
                </div>
            </div>
        </div>
            
        <!-- КОНЕЦ Блок ЗАГОЛОВОК Название Пункта-->
    <!-- Блок Описание детали -->
    <div class="container catalog_block">
        <!--Левая колонка-->
        <div class="col-md-3 l_c" style="background: #E96300;color: white;">
            <h2 style="margin-top: 20px;" id="catalog-product">Каталог</h2>
            <ul class="list-group">
                <li class="list-group-item activ"> <a href="{% url 'mainapp:catalog' %}">Бобышки</a> </li>
                <li class="list-group-item"> <a href="#">Блоки клапанные БКН1, БКН2, БКН3</a> </li>
                <li class="list-group-item"> <a href="#">Вентели пробоотборные</a> </li>
                <li class="list-group-item"> <a href="#">Гильзы защитные</a> </li>
                <li class="list-group-item"> <a href="#">Демпферные трубки</a> </li>
            </ul>
        </div>
        <!--КОНЕЦ Левая колонка-->
        <!--Карточки товаров-->
        <div class="row detail-card">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="box-img">
                    <img class="img-product-detail" src="{% static 'img/product/catalog/01-bobyshka/bobyshka_bp01_shema.png' %}" 
                    alt="Бобышка БП01">
                    
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="row" style="margin-left: 20px;">
                    <div class="prev-text col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-12 functions px-0">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-12 mt-4 har">
                                    <div class="">
                                        Краткое описание
                                    </div>
                                    <h4 class="feature">Краткие характеристики:</h4>
                                    <ul class="feature-items">	
                                        <li class="feature-items-item"><img class="feature-items-item-img" src="{% static 'img/info.jpg' %}" alt="">&nbsp;Марка стали - 15ГС</li>
                                        <li class="feature-items-item"><img class="feature-items-item-img" src="{% static 'img/info.jpg' %}" alt="">&nbsp;Условный проход - 200</li>
                                        <li class="feature-items-item"><img class="feature-items-item-img" src="{% static 'img/info.jpg' %}" alt="">&nbsp;Радиус гиба - 60</li>
                                    </ul>
                                    <div class="" style="margin: 50px 0 0 50px;">
                                        <a class="pc_btn pc_btn_oran" href="#" role="button"
                                        style="">В корзину</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
        
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!--Описание детальное-->
            <div class="detail-text col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 50px;">
                <h2>Бобышка БП01</h2>
                <div class="row gallery"> 
                    <img class="img-responsive" src="{% static 'img/product/catalog/01-bobyshka/bobyshka_bp01_tab.png' %}" 
                        alt="отводы гнутые ост" title="Бобышка БП01"> 
                    
                    
                </div>
                <p></p>
            </div>
        
            <div class="clearfix"></div>
        </div>
        <!--КОНЕЦ Карточки товаров-->
    </div>
    <!-- КОНЕЦ Блок Каталог -->
   

    {% block help %}
    {% include 'includes/inc_help.html' %}
    {% endblock %}


    {% endblock %}