{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

    
    <!-- Блок О компании -->
    <div class="container" style="margin-top: 600px;">
        <div class="card flex-wrap" style="background: #E96300;color: white;height: 470px;">
            <div class="d-flex flex-wrap">
               
                <div class="row overflow-y-auto">
                     <!--Левая колонка-->
                    <div class="col">
                        <div class="d-flex flex-column" style="width: 420px;margin-left: 20px;">

                            <h1 class="p-2">О НАС</h1>
                            <p class="p-2">Мы занимаемся комплектацией и поставкой средств автоматизации (КИПиА, деталей 
                                трубопроводов, средств измерений, материалов) для технического перевооружения и модернизации 
                                систем контроля и управления объектов энергетики и нефте-газовой сферы. Производим комплектацию 
                                как для комплексных договоров под “ключ” так и по отдельным договорам поставки.
                                Поставляем как собственную продукцию так и изделия компаний-партнёров: НКУ, шкафы и пульты управления, 
                                шкафы контроллеров, сборки РТЗО, стенды датчиков.
                                .</p>
                            
                            <hr size=3px width=400px align="center">
                            <div class="d-flex flex-row justify-content-center">
                                <div class="card_ab">
                                    <div class="d-flex flex-row justify-content-around mt20">
                                        <img src="{% static 'img/star_12.png' %}" width="28px" height="28px">
                                        <p class="about_p">19 лет</p>
                                    </div>
                                    <p style="color: black;margin-left: 40%;font-weight: 800;">На рынке</p>
                                    
                                </div>
                                <div class="block-vert-line"></div>
                                <div class="card_ab">
                                    <div class="d-flex flex-row justify-content-around mt20">
                                        <img src="{% static 'img/Vector.png' %}" width="28px" height="28px">
                                        <p class="about_p">100+</p>
                                    </div>
                                    <p style="color: black;font-weight:800;margin-left: 10%; font-size: 0.7rem;">
                                        объектов, введенных в эксплуатацию</p>
                                    
                                </div>
                            </div>
                            
                            <hr size="3px" width="400px" align="center">
                        </div>
                    </div>
                    <!--КОНЕЦ Левая колонка-->
                    <!--Правая колонка-->
                    <div class="col">
                        <div class="row">
                            
                            <!-- <div class="z-2">
                                <img class="img-fluid" src="{% static 'img/Background_Pattern.svg' %}" alt="image"
                                width="320" height="320" style="background: #E96300; z-index: 2;">
                            </div> -->
                            <div class="d-sm-none d-md-block">
                                <img class="" src="{% static 'img/index_about.jpg' %}" alt="image"
                                width="100%" height="400" style="background-color: #E96300;border-radius: 25px;">
                            </div>
                            
                        </div>
                    </div>
                    <!--Правая колонка-->
                </div>
            </div>
        </div>
    </div>
    <!-- КОНЕЦ Блок О компании -->


    <!-- Блок Категории продукции -->
    <div class="container flex-wrap mt100">

        <div class="d-flex flex-column">
            <!---->
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center">
                    <h2 class="elem">ПРОДУКЦИЯ</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="title_text" style="text-align: center;">
                        Предприятие специализируется <br>
                        на производстве и комплексной поставке</p>
                </div>
            </div>
            <!---->
            
            <!---->
            <div class="d-flex flex-wrap flex-row justify-content-around">
                <!---->
                <div  class="mt20">
                    <a class="kat" href="#" style="text-decoration: none;">
                        <h3 class="kat_title"> 
                            Типовых и нестандартных изделий для сферы энергетики и других отраслей</h3>
                        <img class="kat_img" src="{% static 'img/product_image.jpg' %}" alt="image">
                    </a>
                </div>
                <!---->
                <!---->
                <div class="mt20">
                    <a class="kat" href="#" style="text-decoration: none;">
                        <h3 class="kat_title">Приборов измерения, контроля давления и температуры</h3>
                        <img class="kat_img" src="{% static 'img/product_image_2.jpg' %}" alt="КИПиА">
                    </a>
                </div>
                <!---->
               
            </div>
            
        </div>
    </div>
    <!-- КОНЕЦ Блок Категории продукции -->


    <!-- Блок Услуги -->
    <div class="container" style="margin-top: 140px;">
         <!---->
        <div class="d-flex justify-content-start">
                <h2 class="elem">УСЛУГИ</h2>
            </div>
            <div class="d-flex justify-content-start">
                <p class="title_text">
                    Коллектив предприятия имеет опыт в сфере</p>
            </div>
        <!---->
		<div class="prem-main">

            <div class="col-lg-4 prem-main-card nohref">
                <!-- <a href="#" class="prem-main-a"> -->
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/prem-main-1.svg' %}" alt="Проектирования систем автоматизации">
                        </div>
                        <div class="services-main__title">
                            проектирования систем автоматизации объектов энергетики</div>

                    </div>
                <!-- </a> -->
			</div>


			<div class="col-lg-4 prem-main-card">
                <a href="{% url 'mainapp:elektromontazhnye-raboty' %}" class="prem-main-a">
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/prem-main-2.svg' %}" alt="Производство электромонтажных работ">
                        </div>
                        <div class="services-main__title">производства электромонтажных работ</div>

                    </div>
                </a>
			</div>

			<div class="col-lg-4 prem-main-card">
                <a href="{% url 'mainapp:puskonaladochnye-raboty' %}" class="prem-main-a">
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/prem-main-3.svg' %}" alt="Производство пусконаладочных работ">
                        </div>
                        <div class="services-main__title">производства пусконаладочных работ</div>

                    </div>
                </a>
			</div>

            <div class="col-lg-4 prem-main-card nohref">
                <!-- <a href="#" class="prem-main-a"> -->
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/prem-main-3.svg' %}" alt="Монтаж и наладка систем автоматизации">
                        </div>
                        <div class="services-main__title">монтажа и наладке систем автоматизации
                            (АСУ с разработкой программного обеспечения для контроллеров, так и на базе релейных схем)</div>

                    </div>
                <!-- </a> -->
			</div>

            <div class="col-lg-4 prem-main-card">
                <a href="{% url 'mainapp:proektirovanie-kip' %}" class="prem-main-a">
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/prem-main-3.svg' %}" alt="Проектирование КИП и А">
                        </div>
                        <div class="services-main__title">проектирование КИП и А</div>

                    </div>
                </a>
			</div>

            <div class="col-lg-4 prem-main-card nohref">
                <!-- <a href="#" class="prem-main-a"> -->
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/prem-main-3.svg' %}" alt="Монтаж КИПиА">
                        </div>
                        <div class="services-main__title">монтажа КИПиА ( монтаж шкафов, импульсных линий, приборов и т.д)</div>

                    </div>
                <!-- </a> -->
			</div>


			<div class="col-lg-4 prem-main-card">
                <a href="{% url 'mainapp:stendy-datchikov' %}" class="prem-main-a">
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/prem-main-4.svg' %}" alt="Изготовление стендов датчиков">
                        </div>
                        <div class="services-main__title">изготовление стендов датчиков</div>

                    </div>
                </a>
			</div>
		</div>
    </div>
    <!-- КОНЕЦ Блок Услуги -->



    <!-- Блок Портфолио -->
    <div class="container" style="margin-top: 140px;">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
                <h2 class="elem">ПОРТФОЛИО</h2>
            </div>
            <div class="d-flex justify-content-center">
                <p class="title_text" style="text-align: center;">
                    Компания располагает собственными производственными площадями и имеет
                    большой опыт выполнения индивидуальных заказов по чертежам клиентов.
                    Производство позволяет соблюдать высокое качество изделий и минимизировать
                    затраты времени на их изготовление</p>
            </div>
        </div>
    </div>
    
    <!---->
    <div class="container work" style="border-radius: 20px;">       
        <div class="d-flex flex-wrap justify-content-around port" style="margin-top: 20px;"> 
            <a class="work_card" href="{% url 'mainapp:portfolio' %}#factory" style="text-decoration: none;">
                <img class="" src="{% static 'img/factory-workshop_1.jpg' %}" alt="factory">
            </a>
            <a class="work_card" href="{% url 'mainapp:portfolio' %}#company" style="text-decoration: none;">
                <img class="" src="{% static 'img/factory-workshop_2.jpg' %}" alt="company">
            </a>
            <a class="work_card" href="{% url 'mainapp:portfolio' %}#mall" style="text-decoration: none;">
                <img class="" src="{% static 'img/factory-workshop_3.jpg' %}" alt="mall">
            </a>
            <a class="work_card" href="{% url 'mainapp:portfolio' %}#house" style="text-decoration: none;">
                <img class="" src="{% static 'img/factory-workshop_4.jpg' %}" alt="house">
            </a>
            <a class="work_card" href="{% url 'mainapp:portfolio' %}#office" style="text-decoration: none;">
                <img class="" src="{% static 'img/factory-workshop_5.jpg' %}" alt="office">
            </a>
            <a class="work_card" href="{% url 'mainapp:portfolio' %}#other" style="text-decoration: none;">
                <img class="" src="{% static 'img/factory-workshop_6.jpg' %}" alt="other">
            </a>
        </div>  
    </div>
    <!---->
    <!-- КОНЕЦ Блок Портфолио -->
    
    <!-- Блок Блок Паартнеры -->
    <div class="container" style="margin-top: 140px;">
        <div class="d-flex flex-column">
            <div class="">
                <div class="d-flex justify-content-start">
                    <h2 class="elem">ПАРТНЕРЫ</h2>
                </div>
                <div class="d-flex justify-content-start">
                    <p class="title_text">
                        За 10 лет работы компания зарекомендовала себя как <br>
                        надежный партнер. Продукция поставляется по всей территории России.<br>
                        Наша продукция используется организациями</p>
                </div>
            </div>
            <div class="mark" style="margin-top: 20px;">
                <div class="marquee">
                    <ul class="marquee-content">
                        <li><i class="fab"><img class="partner sh_1" src="{% static 'img/partner/Bashneft.svg' %}" alt="БашНефть"></i></li>
                        <li><i class="fab"><img class="partner sh_1" src="{% static 'img/partner/Gazprom.svg' %}" alt="ГазПром"></i></li>
                        <li><i class="fab"><img class="partner sh_1" src="{% static 'img/partner/Lukoil.svg' %}" alt="ЛукОил"></i></li>
                        <li><i class="fab"><img class="partner sh_1" src="{% static 'img/partner/Rosneft.svg' %}" alt="РосНефть"></i></li>
                        <li><i class="fab"><img class="partner sh_1" src="{% static 'img/partner/Tatneft.svg' %}" alt="ТатНефть"></i></li>
                        <li><i class="fab"><img class="partner sh_1" src="{% static 'img/partner/Transneft.svg' %}" alt="ТрансНефть"></i></li>
                    </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- КОНЕЦ Блок Паартнеры -->

    <!-- Блок Отзывы клиентов -->
    <div class="container" style="margin-top: 140px;">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
                <h2 class="elem">ОТЗЫВЫ КЛИЕНТОВ</h2>
            </div>
            <div class="d-flex flex-wrap justify-content-around">
                <div class="reviews d-flex">
                    <div class="">
                        <img class="" src="{% static 'img/Mask.jpg' %}" alt="photo" 
                        style="width: 70px;height: 70px;margin-right: 40px;margin-top: 30px;border-radius: 35px;">
                    </div>
                    <div class="d-flex flex-column justify-content-around">
                        <div class="">
                            <p class="text_w">Extremely easy to use, helped us develop our 
                            Vote for George Washington micro-site extre- mely 
                            quickly! We will definitely use it again for other 
                            projects</p>
                        </div>
                        <div class=""><p class="text_w">Microsoft</p></div>
                    </div>
                </div>
                <div class="reviews d-flex">
                    <div class="">
                        <img class="" src="{% static 'img/Mask.jpg' %}" alt="photo" 
                        style="width: 70px;height: 70px;margin-right: 40px;margin-top: 30px;border-radius: 35px;">
                    </div>
                    <div class="d-flex flex-column justify-content-around">
                        <div class="">
                            <p class="text_w">Extremely easy to use, helped us develop our 
                            Vote for George Washington micro-site extre- mely 
                            quickly! We will definitely use it again for other 
                            projects</p>
                        </div>
                        <div class=""><p class="text_w">Microsoft</p></div>
                    </div>
                </div>
                <div class="reviews d-flex">
                    <div class="">
                        <img class="" src="{% static 'img/Mask.jpg' %}" alt="photo" 
                        style="width: 70px;height: 70px;margin-right: 40px;margin-top: 30px;border-radius: 35px;">
                    </div>
                    <div class="d-flex flex-column justify-content-around">
                        <div class="">
                            <p class="text_w">Extremely easy to use, helped us develop our 
                            Vote for George Washington micro-site extre- mely 
                            quickly! We will definitely use it again for other 
                            projects</p>
                        </div>
                        <div class=""><p class="text_w">Microsoft</p></div>
                    </div>
                </div>
                <div class="reviews d-flex">
                    <div class="">
                        <img class="" src="{% static 'img/Mask.jpg' %}" alt="photo" 
                        style="width: 70px;height: 70px;margin-right: 40px;margin-top: 30px;border-radius: 35px;">
                    </div>
                    <div class="d-flex flex-column justify-content-around">
                        <div class="">
                            <p class="text_w">Extremely easy to use, helped us develop our 
                            Vote for George Washington micro-site extre- mely 
                            quickly! We will definitely use it again for other 
                            projects</p>
                        </div>
                        <div class=""><p class="text_w">Microsoft</p></div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <!-- КОНЕЦ Блок Отзывы клиентов -->
    
    {% block help %}
    {% include 'includes/inc_help.html' %}
    {% endblock %}



    {% endblock %}