{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

    <!-- Блок advantages-->
    <div class="container">
        <div class="features">
      <div class="feature__item">
        <div class="feature__img">
          <img class="icon-custom" src="{% static 'img/longevity.svg' %}" alt="Мы 150 лет на рынке">
        </div>
        <div class="feature__text">Мы 150 лет на рынке</div>
      </div>
      <div class="feature__item">
        <div class="feature__img">
          <img class="icon-custom" src="{% static 'img/quality.svg' %}" alt="Надежный партнер Вашего бизнеса">
        </div>
        <div class="feature__text">Надежный партнер<br>Вашего бизнеса</div>
      </div>
      <div class="feature__item">
        <div class="feature__img">
          <img class="icon-custom" src="{% static 'img/envelope_send.svg' %}" alt="Есть вопросы? Нужна консультация? Напишите нам">
        </div>
        <div class="feature__text"><a href="#formHelp" 
            class="file_a">Есть вопросы?<br>Нужна консультация?<br>Напишите нам</a></div>
      </div>
    </div></div>
    <!-- КОНЕЦ Блок advantages-->
    <!-- Блок О компании -->
    <div class="container" id="about_my">
        <h1 class="p-2 text_w ">О НАС</h1>
            <p class="p-2 text_w title_text">Мы занимаемся комплектацией и поставкой средств автоматизации (КИПиА, деталей 
                трубопроводов, средств измерений, материалов) для технического перевооружения и модернизации 
                систем контроля и управления объектов энергетики и нефте-газовой сферы. Производим комплектацию 
                как для комплексных договоров под “ключ” так и по отдельным договорам поставки.
                Поставляем как собственную продукцию так и изделия компаний-партнёров: НКУ, шкафы и пульты управления, 
                шкафы контроллеров, сборки РТЗО, стенды датчиков.</p>
        
        <p style="padding-bottom: 100px"></p>
    </div>
    <!-- КОНЕЦ Блок О компании -->


    <!-- Блок Услуги -->
    <div class="container" style="margin-top: 50px;" id="services_my">
         <!---->
        <div class="d-flex justify-content-start">
                <h2 class="elem">Мы предлагаем</h2>
            </div>
            
        <!---->
        <div class="prem-main">

            
            <div class="col-lg-4 prem-main-card">
                <a href="{% url 'mainapp:catalog-card' %}#catalog-product" class="prem-main-a" >
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/klapan-arm.svg' %}" style="width: 60px; height: 60px;" 
                            alt="Изготовление трубопроводной арматуры для КИПиА">
                        </div>
                        <div class="services-main__title">Изготовление трубопроводной арматуры для КИПиА</div>

                    </div>
                </a>
            </div>

            <div class="col-lg-4 prem-main-card">
                <a href="#" class="prem-main-a">
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/pipe_2.svg' %}" 
                            alt="Запорные, регулирующие клапаны. Игольчатые, 
                            сальниковые вентили, шаровые краны, стальные фланцы и др." 
                            style="width: 60px; height: 60px;">
                        </div>
                        <div class="services-main__title">Запорные, регулирующие клапаны. Игольчатые, 
                            сальниковые вентили, шаровые краны, стальные фланцы и др. </div>

                    </div>
                </a>
            </div>

            
            <div class="col-lg-4 prem-main-card">
                <a href="#" class="prem-main-a">
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/pipe.svg' %}" alt="Изготовление стендов датчиков КИПиА" 
                            style="width: 60px; height: 60px;">
                        </div>
                        <div class="services-main__title">Изготовление стендов датчиков КИПиА</div>

                    </div>
                </a>
            </div>

            <div class="col-lg-4 prem-main-card">
                <a href="#" class="prem-main-a">
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/kipia.svg' %}" 
                            alt="Осуществление поставки контрольно-измерительных 
                            приборов и средств автоматизации"
                            style="width: 60px; height: 60px;">
                        </div>
                        <div class="services-main__title">Осуществление поставки контрольно-измерительных 
                            приборов и средств автоматизации</div>

                    </div>
                </a>
            </div>

            <div class="col-lg-4 prem-main-card">
                <a href="#" class="prem-main-a">
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/truba_mont.svg' %}" alt="Труба для монтажа КИПиА и её крепёжные элемены"
                            style="width: 60px; height: 60px;">
                        </div>
                        <div class="services-main__title">Труба для монтажа КИПиА и её крепёжные элемены</div>

                    </div>
                </a>
            </div>

            <div class="col-lg-4 prem-main-card">
                <a href="#" class="prem-main-a">
                    <div class="prem-main__item">
                        <div class="prem-main__img">
                            <img src="{% static 'img/electric_panel.svg' %}" alt="Эл. Шкафы и шкафы систем автоматизации КИПиА"
                            style="width: 60px; height: 60px;">
                        </div>
                        <div class="services-main__title">Эл. Шкафы и шкафы систем автоматизации КИПиА</div>

                    </div>
                </a>
            </div>

            
        </div>
    </div>
    <!-- КОНЕЦ Блок Услуги -->
    <!-- Блок Категории продукции -->
    <div class="container flex-wrap" style="margin-top: 100px;">

        <div class="d-flex flex-column">
            <!---->
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center">
                    <h2 class="elem">ПРОДУКЦИЯ</h2>
                </div>
                
            </div>
            <!---->
            
            <!---->
            <div class="d-flex flex-wrap flex-row justify-content-around">
                <!---->
                <div  class="mt20">
                    <a class="kat" href="{% url 'mainapp:catalog-descript' %}" style="text-decoration: none;">
                        <h5 class="kat_title"> 
                            Типовые и нестандартные изделия трубопроводов КИПиА</h5>
                        <img class="kat_img" src="{% static 'img/product_image_3.jpg' %}" alt="image"
                        style="width: 200px; height: 260px;">
                    </a>
                </div>
                <!---->
                <!---->
                <div class="mt20">
                    <a class="kat" href="#" style="text-decoration: none;">
                        <h5 class="kat_title">Запорная арматура</h5>
                        <img class="kat_img" src="{% static 'img/product_image_4.jpg' %}" alt="КИПиА"
                        style="width: 200px; height: 260px;">
                    </a>
                </div>
                <!---->
                 <!---->
                 <div class="mt20">
                    <a class="kat" href="#" style="text-decoration: none;">
                        <h5 class="kat_title">Стенды датчиков КИПиА</h5>
                        <img class="kat_img" src="{% static 'img/product_image_5.jpg' %}" alt="КИПиА">
                    </a>
                </div>
                <!---->
                 <!---->
                 <div class="mt20">
                    <a class="kat" href="#" style="text-decoration: none;">
                        <h5 class="kat_title">Приборы для КИПиА </h5>
                        <img class="kat_img" src="{% static 'img/product_image_6.jpg' %}" alt="КИПиА"
                        style="width: 200px; height: 260px;">
                    </a>
                </div>
                <!---->
                 <!---->
                 <div class="mt20">
                    <a class="kat" href="#" style="text-decoration: none;">
                        <h5 class="kat_title">Трубы для КИПиА</h5>
                        <img class="kat_img" src="{% static 'img/product_image_2.jpg' %}" alt="КИПиА">
                    </a>
                </div>
                <!---->
                 <!---->
                 <div class="mt20">
                    <a class="kat" href="#" style="text-decoration: none;">
                        <h5 class="kat_title">Электро техническая продукция </h5>
                        <img class="kat_img" src="{% static 'img/product_image_2.jpg' %}" alt="КИПиА">
                    </a>
                </div>
                <!---->
               
            </div>
            
        </div>
    </div>
    <!-- КОНЕЦ Блок Категории продукции -->


    
    {% block help %}
    {% include 'includes/inc_help.html' %}
    {% endblock %}



    {% endblock %}