{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

            
    <!--Блок КИПиА-->
    <div class="container">
        <div class="detail-card">
            <div class="clearfix content">
                <div class="left text_orange">
                    
                    <h1 style="text-align: center;padding-top: 50px;"><b>Приборы измерения, контроля давления и температуры&nbsp;</b></h1>
                    <p></p>
                    <p>ООО «УралКИП» осуществляет поставку контрольно-измерительных приборов и элементов 
                        систем трубопроводов и автоматики (КИПиА).</p>
                    <p></p>
                    <p>В ассортименте  компании приборы для систем промышленной автоматизации, диагностики и 
                        контроля широкого спектра технологических процессов, измерения параметров различных 
                        материалов и сред:</p>

                    <ul>
                        <li>Манометры, вакуумметры, мановакуумметры;</li>
                        <li>Электроконтактные (сигнализирующие) манометры;</li>
                        <li>Термоманометры;</li>
                        <li>Напоромеры, тягомеры, тягонапоромеры;</li>
                        <li>Разделители сред, охладители;</li>
                        <li>Термометры биметаллические.</li>
                    </ul>
                    <p></p>
                    <p>Устройства контроля давления и температуры для промышленного оборудования отличаются 
                        высоким качеством, надежностью и длительным сроком службы (срок поверки – 2 года).</p>
                    
                    
                    <p>&nbsp;</p>
                </div>
                
            </div>
        </div>
    </div>
    <!--КОНЕЦ Блок Портфолио-->
    {% endblock %}