{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

            
    <!--Блок Портфолио-->
    <div class="container" style="margin-top: 600px;">
        <div class="detail-card">
            <div class="clearfix content">
                <div class="left text_orange">
                    <div class="har hom">
                        <ul class="d-flex flex-row align-items-center">
                            <li><a href="/"><img src="{% static 'img/icon_home.png' %}" alt=""></a></li>
                            <li> ›</li>
                            <li>Портфолио</li>
                        </ul>
                    </div> 
                    <h1 style="text-align: center;">Монтажные и пусконаладочные работы</h1>
                    <p>С 2005 года коллектив УралКИП принимал участие в строительстве многих 
                        объектов, которые были успешно сданы в эксплуатацию.</p>
                    <p style="text-align: center;">
                        <img src="{% static 'img/DSC_0044.jpg' %}" style="margin-top: 20px;">&nbsp;&nbsp;<img src="{% static 'img/DSC_0066.jpg' %}" style="margin-top: 20px;"></p>
                    <h2 style="text-align: center;" id="factory">Заводы</h2>
                    <ul>
                        <li>ОАО «Уральский завод РТИ» г.Екатеринбург</li>
                    </ul>
                    <p>​Монтаж турбогенератора № 1, силовое оборудование, осв
                        <span style="font-size:12px;">ещени</span>е, КИПиА</p>
                    <ul>
                        <li>ООО «Завод промышленных сплавов»</li>
                    </ul>
                    <p>​Производственные и офисные помещения: освещение, силовое электрооборудование, 
                        пусконаладочные работы, восстановление документации по энергоснабжению предприятия, 
                        монтаж системы учёта электроэнергии</p>
                    <ul>
                        <li>ОАО «Первоуральский ново-трубный завод». Цех № 33</li>
                    </ul>
                    <p>​Поставка и монтаж оборудования КИПиА, выполнение пусконаладочных работ по модернизации 
                        склада жидкого аммиака</p>
                    <h2 style="text-align: center;" id="company">Предприятия снабжения</h2>
                    <p>&nbsp;</p>
                    <ul>
                        <li>Ново-Свердловская ТЭЦ филиал ОАО «ТГК-9» «Свердловский»</li>
                    </ul>
                    <p>​Турбина ТГ 110/120-130 ст.№1-5. Схема регуляторов РТО и РМТ на аппаратуре «Ремиконт»</p>
                    <ul>
                        <li>Качканарская ТЭЦ филиал ОАО ТГК-9 «Свердловский»</li>
                    </ul>
                    <p>Поставка оборудования, монтажные и пусконаладочные работы схемы автоматизации предочистки ХВО</p>
                    <ul>
                        <li>Гурзуфская и Кировская котельные филиала ОАО «ТГК-9 «Свердловский»</li>
                    </ul>
                    <p>​Наладочные работы, измерение сопротивления заземления зданий и сооружений;</p>
                    <ul>
                        <li>ОАО "ЭнСер" (ОАО «УралАЗ-Энерго») г.Миасс, Челябинская область</li>
                    </ul>
                    <p>​Весь комплекс электромонтажных и пусконаладочных работ по монтажу турбогенератора № 1 
                        и 3, монтаж и наладка КИПиА,<br> монтаж и наладка системы защиты и контроля энергооборудования 
                        «НЕВА», поставка оборудования, проектные работы (раздел КИПиА)</p>
                    <div>
                        <div style="text-align: center;">
                            <p style="text-align: center;">
                                <img src="{% static 'img/DSC_0005.jpg' %}" style="margin-top: 20px;">&nbsp; &nbsp;&nbsp;
                                <img src="{% static 'img/DSC_0045.jpg' %}" style="margin-top: 20px;"></p>
                        </div>
                        <p style="text-align: center;">
                            <em style="font-size: 10px; text-align: right;">Пуск ТГ-1 ОАО "ЭнСер" г.Миасс, 2013 год</em>
                        </p>
                        <ul>
                            <li>ОАО «НТМК» г.Н.Тагил​</li>
                        </ul>
                        <p>Турбогенератор № 1 и № 7 (монтаж силового электрооборудования, освещения, автоматизированной 
                            системы управления АСУ ТП),<br> работы по поставке, монтажу и наладке электрооборудования, 
                            КИПиА трубопроводов питательной воды котлов среднего давления,<br> электромонтажные работы на 
                            доменной печи № 5.</p>
                        <h2 style="text-align: center;" id="mall">Торговые центры</h2>
                        <ul>
                            <li>ТЦ «Эльдорадо» по ул. Радищева</li>
                        </ul>
                        <p>​Проведение наладочных и сертификационных работ</p>
                        <ul>
                            <li>ТРЦ «КомсоМОЛЛ» ​</li>
                        </ul>
                        <p>Поставка оборудования, комплекс электромонтажных работ, пусконаладочные работы кинотеатра 
                            «РоликС».</p>
                        <h2 style="text-align: center;" id="house">Жилой фонд</h2>
                        <ul>
                            <li>Район «Академический» г.Екатеринбург&nbsp;</li>
                        </ul>
                        <p>​Выполнение пусконаладочных работ жилых домов.&nbsp;</p>
                        <ul>
                            <li>Жилые дома в г.Екатеринбурге&nbsp;</li>
                        </ul>
                        <p>Проведение комплекса работ по сертификации электроустановок 
                            (замер параметров электрических цепей)</p>
                        <h2 style="text-align: center;" id="office">Офисные помещения</h2>
                        <ul>
                            <li>ООО «ВИЯ» г.Арамиль</li>
                        </ul>
                        <p>​Производственные и офисные помещения: освещение, силовое электрооборудование, 
                            пусконаладочные работы</p>
                        <h2 style="text-align: center;" id="other">Другие объекты</h2>
                        <ul>
                            <li>ОАО «Российские железные дороги»</li>
                        </ul>
                        <p>​Испытания электрооборудования АБК</p>
                        <ul>
                            <li>ОАО «Газпромнефть-Урал»</li>
                        </ul>
                        <p>​Электромонтажные работы на объектах, реконструкция автозаправочных комплексов 
                            ОАО «Газпромнефть»</p>
                    </div>
                    <div>
                        <p style="text-align: center;">
                            <img src="{% static 'img/turbogen.jpg' %}" style="margin-top: 20px;">&nbsp;
                            <img src="{% static 'img/DSC_0103.jpg' %}" style="margin-top: 20px;">&nbsp;
                            <img src="{% static 'img/DSC_0093.jpg' %}" style="margin-top: 20px;">&nbsp;
                            <img src="{% static 'img/vystuplenie.jpg' %}" style="margin-top: 20px;"></p>
                        <p style="text-align: center;">
                            <em style="font-size: 10px; text-align: right;">Пуск ТГ-3 ОАО "УралАЗ-Энерго"</em></p>
                        <p>Наша компания с 2008 года аккредитована в ФГАОУ ВПО «УрФУ имени первого Президента 
                            России Б.Н.Ельцина» на&nbsp;проведение&nbsp;ремонтных<br> и пусконаладочных работ на объектах 
                            университета, за годы работы проведена реконструкция многих объектов УрФУ.</p>
                    </div>
                    <p>&nbsp;</p>
                </div>
                
            </div>
        </div>
    </div>
    <!--КОНЕЦ Блок Портфолио-->
    {% endblock %}