{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

            
    <!--Блок Проектирование КИПиА-->
    <div class="container">
        <div class="detail-card" >
            <div class="clearfix content" style="margin: 0 20px;">
                <div class="left text_orange">
                    <!---->
                    <h2 style="padding-top: 50px;"><b>Соглашения на обработку персональных данных:&nbsp;</b> </h2>
                    <p></p>
                    <p>Общество с ограниченной ответственностью УралКИП со всей серьезностью относится 
                        к соблюдению права каждого посетителя веб-сайта на конфиденциальность в отношении персональных 
                        данных и принимает меры по защите любой информации, предоставляемой онлайн.<br><br><br></p>
                    <p>Просим Вас ознакомиться с содержанием настоящего соглашения о конфиденциальности и защите персональных 
                        данных (далее — «Соглашение»). В документе излагается политика Общества в области соблюдения конфиденциальности, 
                        а также подробно разъясняется используемый порядок сбора и обработки персональных данных на сайте.</p>
                    <p>Основанием для обработки персональных данных являются: Ст. 24 Конституции Российской Федерации; 
                        ст.6 Федерального закона №152-ФЗ «О персональных данных».</p>
                    <p>&nbsp;</p>
                    <p>Соглашение о конфиденциальности и защите персональных данных</p>
                    <p>Предоставляя Обществу с ограниченной ответственностью УралКИП свои персональные данные, 
                        Вы выражаете согласие на обработку (сбор, накопление, хранение, уточнение, использование, передачу, 
                        блокирование, уничтожение) своих персональных данных.</p>
                    <p>Общество с ограниченной с ответственностью УралКИП не раскрывает Ваши персональные данные третьим лицам, 
                        за исключением правопреемников, а также государственных органов, которым Общество обязано предоставить доступ 
                        по запросу в соответствии с законодательством РФ.</p>
                    <p>Общество с ограниченной ответственностью УралКИП предпринимает необходимые меры по обеспечению безопасности 
                        персональных данных от несанкционированного доступа, изменения, раскрытия или уничтожения в соответствии 
                        с требованиями федерального закона от 27.07.2006 №152-ФЗ «О персональных данных».</p>
                    <p>Вы несете ответственность за предоставление нам достоверных сведений, а также за обновление предоставленных 
                        данных в случае каких-либо изменений.</p>
                    <p>В случаях, если Вы хотите узнать, какие именно Ваши персональные данные обрабатывает Общество с ограниченной 
                        ответственностью УралКИП, либо дополнить, исправить или удалить любые неполные, неточные или устаревшие 
                        персональные данные, Вы можете в должном порядке и в соответствии с действующим законодательством реализовать 
                        такое право, обратившись в Общество с ограниченной ответственностью УралКИП по адресу, указанному в 
                        разделе Сайта «Контакты».</p>
                    <p>&nbsp;</p>
                    <p>Сбор персональных данных на сайте</p>
                    <p>Сайт осуществляет сбор только той информации, которую посетитель предоставляет добровольно. 
                        Это данные, необходимые для обеспечения (и совершенствования) наших услуг.</p>
                    <p>Объем собираемых персональных данных определяется законодательством РФ. Пользователь соглашается с тем, 
                        что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, 
                        организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя.</p>
                    <p>Для обработки заявки на запрос прайс-листа или каталога или иной обратной связи с сотрудниками Общества с ограниченной 
                        ответственностью УралКИП, последнее собирает следующие персональные данные: имя, телефон, адрес сайта, 
                        название компании, город, источник информации о сайте, адрес электронной почты.</p>
                    <p>&nbsp;</p>
                    <p>Файлы cookies</p>
                    <p>Сайт Общества с ограниченной ответственностью УралКИП использует технологии отслеживания 
                        (файлы cookies) для сбора таких персональных данных, как тип браузера или операционная система, 
                        ссылочная страница, путь на сайте, домен интернет-провайдера и т.п. в целях получения общей информации 
                        о том, как веб-сайт используется посетителями. Файлы cookies позволяют совершенствовать данный веб-сайт 
                        в соответствии с требованиями его посетителей.</p>
                    <p>Сайт сохраняет всю информацию, собранную с использованием файлов cookies, в формате, не предполагающем 
                        идентификацию личности. Информация, получаемая через файлы cookies, не может быть раскрыта третьим лицам.</p>
                    <p>Убедитесь, что настройки компьютера позволяют использовать файлы cookies. В зависимости от настройки браузера, 
                        пользователь может получать предупреждение об использовании технологии cookies, либо отказаться от 
                        использования файлов cookies, однако в этом случае доступ ко всем функциям этого веб-сайта может оказаться 
                        невозможным. Для получения информации относительно настройки браузера воспользуйтесь функцией справки.</p>
                    <p>*«Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, 
                        который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть 
                        страницу соответствующего сайта.</p>
                    <p>&nbsp;</p>
                    <p>Изменение условий настоящего Соглашения о сохранении конфиденциальности.</p>
                    <p>Сайт может периодически вносить изменения и исправления в настоящее Соглашение. Для отслеживания 
                        этих изменений и их возможных последствий рекомендуем периодически просматривать текст настоящего 
                        Соглашения.</p>
                    <p>&nbsp;</p><br>
                    <p></p>  
                    <!---->
                </div>
            </div>
        </div>
    </div>
    <!--КОНЕЦ Блок Проектирование КИПиА-->
    
    {% endblock %}