{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

    
        
        <div class="container">
            <h1 class="title_page">БП01-М12*1,5-30 ст.20</h1>
        </div>
    <!-- Блок Описание детали -->
    <div class="container catalog_block" style="margin-top: 50px;">
        <!--Левая колонка-->
        <div class="col-md-3 l_c" style="background: #E96300;color: white;">
            <h2 style="margin-top: 20px;" id="catalog-product">Бобышки прямые БП01</h2>
            <ul class="list-group">
                <li class="list-group-item activ"> <a href="#">БП01-М12*1,5-30 ст.20</a> </li>
                <li class="list-group-item"> <a href="#">БП01-М12*1,5-30 ст.08х18н10 (нерж.сталь)</a> </li>
                <li class="list-group-item"> <a href="#">БП01-М12*1,5-50 ст.20</a> </li>
                <li class="list-group-item"> <a href="#">БП01-М12*1,5-50 ст.08х18н10 (нерж.сталь)</a> </li>
                <li class="list-group-item"> <a href="#">БП01-М12*1,5-100 ст.20</a> </li>
            </ul>
        </div>
        <!--КОНЕЦ Левая колонка-->
        <!--Карточки товаров-->
        <div class="col-md-9 detail-card">
            
            <div class="box-img">
                <img class="img-product-detail" src="{% static 'img/product/catalog/01-bobyshka/bobyshka_bp01_shema.png' %}" 
                alt="Бобышка БП01">
                
            </div>
           
        
            
            <!--Описание детальное-->
            <div class="detail-card-ttx">
                <div class="tab">
                    <button class="tablinks active" id="defaultOpen" 
                        onclick="openCity(event, 'Paris')" 
                        style="border-radius: 5px 5px 0 0;">Условное обозначение</button>
                              
                    <button class="tablinks" onclick="openCity(event, 'Tokyo')" style="border-radius: 5px 5px 0 0;">Марка материала</button>
                </div>
                
                <div class="tabcontent" id="Paris" style="display: block;">БП01-М20х1,5-100-С&nbsp; &nbsp;ТУ1462-001-25541174-2016
                    <p><em>Расшифровка условного обозначения бобышки БП01:</em><br>
                        БП01 - бобышка прямая тип 01;<br>
                        М20х1,5 - резьба;<br>
                        100 - длинна;<br>
                        С - марка материала;</p>
                            
                        <p style="text-align: center;"><strong>ТУ1462-001-25541174-2016 - ТУ ООО"Металлообрабатывающая Компания- НН; </strong></p>
                </div>
                <div class="tabcontent" id="Tokyo" style="border-radius: 0px 5px 0px 0px; display: none;">
                    Н - нержавеющая сталь (12Х18Н10Т, 08Х18Н10Т, 08Х18Н10 и т.д);<br>
                    М - сталь с содержанием молибдена (10Х17Н13М2Т, 15Х11МФ, 3ОХМА, 40ХМЮА, 38ХМЮА&nbsp;и т.д);<br>
                    С - углеродная сталь (Ст20, 09Г2С и т.д.);
                    <p><b>По согласованию с закачиком, изделия могут быть выполнены из других марок стали.</b></p>
                                
                    <p><b>Так же выполняем специальные заказы по чертежам заказчика.</b></p>
                </div>
                <!-- <div class="" style="margin: 50px 0 0 50px;">
                    <a class="pc_btn pc_btn_oran" href="#" role="button"
                    style="">В корзину</a>
                </div> -->
            </div>
                
            <!--Описание детальное-->
            
        
            <div class="clearfix"></div>
            <p></p>
        </div>
        <!--КОНЕЦ Карточки товаров-->
    </div>
    <!-- КОНЕЦ Блок Каталог -->
   

    {% block help %}
    {% include 'includes/inc_help.html' %}
    {% endblock %}


    {% endblock %}