{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

            
    <!--Блок Проектирование КИПиА-->
    <div class="container">
        <div class="detail-card" >
            <div class="clearfix content text_orange" style="margin: 0 20px;">
                <!---->
                <div class="left">
                    
                    <h1 style="padding-top: 50px;text-align: center;">Проектирование КИПиА с применением программного обеспечения</h1>
                    <p>Современные условия эксплуатации оборудования во всех промышленных отраслях, 
                        жилищно-коммунальном хозяйстве и энергетическом комплексе предусматривают необходимость 
                        постоянного контроля над технологическими процессами и возможность последующего 
                        автоматизированного управления.</p>
                    <p style="text-align: center;"><img alt="проект кип" src="{% static 'img/proektirovanie-kip.jpg' %}" 
                        style="width: 350px; height: 308px;"></p>
                    <h2 style="text-align: center;">Качественный проект могут разработать только профессионалы</h2>
                    <p>Решение задач автоматизации возможно только на основании проектирования, выполнить которое 
                        способны только специалисты, имеющие достаточный опыт и высокий уровень профессиональной 
                        подготовки.</p>
                    <p>Компания УралКИП уже более 10 лет работает в сфере разработки и внедрения проектов 
                        автоматизации на предприятиях самых различных видов деятельности. При этом каждый проект 
                        КИП и А разрабатывался индивидуально с максимально возможным учетом всех особенностей 
                        технологии производства. В результате заказчик получает проектную документацию, выполненную 
                        под конкретный объект на основании согласованного технического задания.</p>
                    <p style="text-align: center;"><img alt="кип проект" 
                        src="{% static 'img/proektirovanie-kip-1.jpg' %}" style="width: 420px; height: 258px;"></p>
                    <h2 style="text-align: center;">Состав проекта</h2>
                    <p>Полный комплекс работ, которое включает проектирование КИП и А для диспетчеризации и 
                        автоматизации производственных процессов состоит из:</p>
                    <ul>
                        <li>предварительного обследования объекта для определения реальных условий для проектирования;</li>
                        <li>совместной с заказчиком разработки технического задания, которое определяет основные критерии и уровень автоматизации производства;</li>
                        <li>инженерной разработки проекта;</li>
                        <li>эскизного оформления схем автоматизации и их привязки к планам помещений;</li>
                        <li>технического проектирования, включающего составление схем, таблиц подключений, кабельных журналов, разработки общих видов оборудования и т.п.;</li>
                        <li>рабочего проектирования с оформлением монтажной и эксплуатационной документации;</li>
                        <li>согласования готового проекта в органах надзора и у представителя заказчика.</li>
                    </ul>
                    <p>В результате заказчик получает полностью разработанный проект КИПиА, позволяющий не только 
                        произвести закупку необходимых материалов и оборудования, выполнить монтаж и пуско-наладочные
                         работы, но и использовать эту техническую документацию в ходе дальнейшей эксплуатации.</p>
                    <p style="text-align: center;"><img alt="проект кип и а" 
                        src="{% static 'img/proektirovanie-kipia.jpg' %}" style="width: 500px; height: 309px;"></p>
                    <h2 style="text-align: center;">Условия авторского надзора</h2>
                    <p style="padding-bottom: 50px;">Выполняя проектирование процессов контроля, диспетчеризации и автоматизации, наша компания 
                        обеспечит профессиональный технический надзор над точным соблюдением всех требований проекта. 
                        Это значительно повысит качество выполнения монтажа и пуско-наладочных работ, а так же 
                        создаст гарантии долговременной безаварийной эксплуатации производственного оборудования.</p>

                </div>
                <!---->
                
            </div>
        </div>
    </div>
    <!--КОНЕЦ Блок Проектирование КИПиА-->
    
    {% endblock %}