{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}



            
    <!--Блок Пусконаладочные работы-->
    <div class="container" style="margin-top: 600px;">
        <div class="detail-card" >
            <div class="clearfix content">
                <!---->
                <div class="left text_orange">
                    
                    <h1 style="padding-top: 50px;text-align: center;">Пусконаладочные работы. КИП наладка</h1>
                    <p>УралКИП выполняет пусконаладочные работы оборудования КИП уже 10 лет.</p>
                    <p><img alt="наладка электрооборудования Урал КИП" 
                        src="{% static 'img/naladka-elektropriborov(1).png' %}" 
                        style="width: 174px; height: 320px; float: left; margin-left: 5px; margin-right: 5px;"></p>
                    <p>Компания имеет в своем распоряжении сертифицированную электролабораторию, зарегистрированную 
                        в Ростехнадзоре, где работает штат высококвалифицированных сотрудников.</p>
                    <p>Наши специалисты выполняют работы по пусконаладке систем автоматизации и электроустановок 
                        до 1000В.</p>
                    <p>Мы проводим работы по сертификации электроустановок с выдачей технического отчета для 
                        Ростехнадзора.</p>
                    <h2 style="text-align: center;">Какие пусконаладочные работы мы выполняем:</h2>
                    <ul>
                        <li>сертификацию электроустановок жилых и нежилых зданий с выдачей технического отчета;</li>
                        <li>ПНР систем автоматизации первичных и вторичных датчиков, контроллеров, систем КИПиА;</li>
                        <li>наладку систем релейной защиты;</li>
                        <li>испытания электрооборудования 0,4-10кВ.</li>
                    </ul>
                    <h2 style="text-align: center;">Почему пусконаладка так важна?</h2>
                    <p>Электроустановочное оборудование используется на общественных и промышленных объектах, 
                        в жилых и частных домах. Необходимо, чтобы кип наладка была выполнена особенно тщательно: 
                        качественное выполнение пусконаладочных работ позволит обезопасить объект от короткого 
                        замыкания, а, следовательно, от порчи имущества и возгорания.</p>
                    <p>Кроме того, грамонтно проведенные пусконаладочные работы помогут избежать перебоев в 
                        производственном процессе на предприятиях и, соответственно, связанного с ним простоя и 
                        понесения убытков.</p>
                    <h2 style="text-align: center;">Пусконаладка</h2>
                    <p>Как правило, КИП&nbsp;наладка осуществляется на объектах со стандартным электрооборудованием, 
                        но наши мастера ,при необходимости, произведут работы по наладке:</p>
                    <ul>
                        <li>ВРУ (вводно-распределительные устройства);</li>
                        <li>АВР (автоматический ввод резервного питания);</li>
                        <li>ГРЩ (главные распределительные щиты);</li>
                        <li>НКУ (низковольтные комплектные устройства).</li>
                    </ul>
                    <h2 style="text-align: center;">Eрал КИП — профессиональный подход к наладке</h2>
                    <p>Наши мастера быстро и качественно устанавливают трансформаторные подстанции, электрощитовое 
                        и другое оборудование. Мы уверены в качестве выполнения нашими сотрудниками задач, в том 
                        числе пусконаладку КИП оборудования. Перед специалистом с большим опытом нет ничего 
                        неосуществимого.</p>
                    <p style="text-align: center;"><img alt="пусконаладочные работы Урал КИП" 
                        src="{% static 'img/puskonaladochnye-raboty-ural-kip.png' %}" 
                        style="text-align: center; width: 518px; height: 270px;"></p>
                    <p>Монтаж и пусконаладка сдаются клиентам точно в сроки. Ответственный подход к делу и 
                        профессионализм - особенность компании «УралКИП». Поэтому сотрудничать с нами удобно и 
                        выгодно и большим промышленным объектам, и жилым районам, и частным лицам.</p>
                    <h2 style="text-align: center;">Как сделать заявку</h2>
                    <p style="padding-bottom: 50px;">Для того, чтобы рассчитать стоимость и сроки пусконаладочных работ, оставьте заявку на 
                        сайте или позвоните нам! Наши специалисты предоставят всю необходимую информацию в 
                        ближайшее время.</p>
                </div>
                <!---->
                
            </div>
        </div>
    </div>
    <!--КОНЕЦ Блок Пусконаладочные работы-->
    
    
    {% endblock %}