{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}


   
        
    <!--Блок Стенды датчиков КИПиА-->
    <div class="container">
        <div class="detail-card" >
            <div class="clearfix content" style="margin: 0 20px;">
                <!---->
                <div class="left text_orange">

                    <h1 style="padding-top: 50px;text-align: center;">Стенды датчиков КИПиА</h1>
                    <p lang="zxx">Предназначены для установки на&nbsp;них манометрических и&nbsp;
                        дифманометрических приборов, контролирующих параметры технологических установок и&nbsp;
                        участвующих в&nbsp;автоматизированном управлении технологическим процессом на&nbsp;давление 
                        до 10,0&nbsp;МПа (100 кгс/см2).</p>
                    <h2 style="text-align: center;">Стенды датчиков для трубной обвязки приборов КИПиА</h2>
                    <p>Модули МОМ предназначены для установки показывающих манометрических приборов общего 
                        назначения, а&nbsp;также преобразователей избыточного давления.</p>
                    <p>Модули МОД предназначены для установки дифманометрических приборов, преобразователей 
                        перепада давления.</p>
                    <p>Модули МОК предназначены для установки манометрических приборов общего назначения, 
                        преобразователей избыточного давления, дифманометрических приборов.</p>
                    <p>Климатическое исполнение: У, Т, УХЛ 3.1 по&nbsp; ГОСТ 15150–69*, категория размещения 
                        1, 2, 3, 4.</p>
                    <p>По&nbsp;желанию заказчика модули могут быть изготовлены и&nbsp;других&nbsp;видов 
                        климатического исполнения в&nbsp;соответствии с&nbsp;ГОСТ 15150–69*<br>
                        Поверхность каркаса модулей защищена циотан-ферротановым покрытием устойчивым к&nbsp;
                        морской и&nbsp;пресной воде в&nbsp;водных растворах кислот, солей и&nbsp;щёлочей в&nbsp;
                        нефти и&nbsp;нефтепродуктах, а&nbsp;также может иметь металлическое покрытие (горячее 
                        цинкование: 80–100&nbsp;мкм). В&nbsp;соответствии с&nbsp;заданием заводу могут быть 
                        применены другие виды покрытий.</p>
                    <p>Каркасы модулей по&nbsp;желанию заказчика могут быть изготовлены из&nbsp;усиленного 
                        оцинкованного профиля без применения сварки и&nbsp;сохраняют прочность во&nbsp;время 
                        и&nbsp;после сейсмического воздействия силой 9 баллов. Изготавливаются по&nbsp;ТУ&nbsp;
                        4218-012-47472841–2000.</p>
                    <p>Изделия поставляются в&nbsp;собранном, упакованном виде без первичных преобразователей 
                        и&nbsp;присоединительных деталей к&nbsp;ним. Конструкция модулей датчиков предусматривает 
                        их&nbsp;заземление в&nbsp;соответствии с&nbsp;требованиями ПУЭ.</p>
                    <p>Доставка к&nbsp;месту монтажа осуществляется по&nbsp;требованию заказчика любой транспортной 
                        компанией, работающей в&nbsp;Вашем регионе.</p>
                    <h3 style="text-align: center;">Как заказать стенды в&nbsp;Екатеринбурге?</h3>
                    <p style="padding-bottom: 50px;">Компания УралКИП изготовит стенды датчиков КИПиА по&nbsp;приемлемым ценам в&nbsp;
                        Екатеринбурге. Не&nbsp;задавайтесь вопросом&nbsp;— где заказать стенды, просто свяжитесь 
                        с&nbsp;нами по&nbsp;телефону
                        <span style="color: rgb(0, 0, 0); font-family: &quot;PT Sans&quot;, sans-serif; font-size: 14px;">&nbsp;
                        </span>+7(343) 206-85-10 или отправьте Вашу заявку для расчёта на&nbsp;<a href="mailto:info@ural-kip.ru">
                            info@ural-kip.ru</a> и&nbsp;закажите.</p>
                    <!-- h2>Сертификаты</h2>
                    <p><strong>Сертификат на стенды для ТЭС:</strong></p>
                    <p><img alt="" src="/admin/ckfinder/userfiles/images/sertifikat-po-TES.jpg" style="width: 800px; height: 1164px;" /></p>
                    <p><strong>Сертификат на стенды для АЭС:</strong></p>
                    <p><img alt="" src="/admin/ckfinder/userfiles/images/sertifikat-dlya-AES.jpg" style="width: 800px; height: 1159px;" /></p -->			</div>
                                
                    <!---->
                </div>
                <!---->
                
            </div>
        </div>
    </div>
    <!--КОНЕЦ Блок Стенды датчиков КИПиА-->
    
    
    {% endblock %}