{# Блок меню #}
<script>
      document.addEventListener("DOMContentLoaded", function () {
        const menuList = document.getElementById("menu-list");
        const burger = document.querySelector('.burger');

        burger.addEventListener("click", function () {
            menuList.classList.toggle("show-menu");
            burger.classList.toggle('active');
        });
  });
</script>
{% load static %}

<div class="">
    <!-- Блок Topbar -->
    <div class="topbar">
        <div class="row">
 
            <div class="col d-flex flex-row justify-content-center align-items-center">
                <img src="{% static 'img/time_work.svg' %}" alt="logo_time" class="d-inline-block" style="margin-right: 10px;">
                Понедельник - пятница: 9.00 - 17.00
            </div>
            <div class="col d-flex flex-row justify-content-center align-items-center">
                <img src="{% static 'img/locat.svg' %}" alt="logo_location" class="d-inline-block" style="margin-right: 10px;">
                г.Екатеринбург, ул. Вилонова, 45Е, офис 407
            </div>
            <div class="col d-flex flex-row justify-content-center align-items-center" id="cart">
                <a href="#" style="text-decoration: none">
                    <img src="{% static 'img/cart_svg3.svg' %}" alt="basket" class="" width="40" height="40">
                    <span class="basket_text" id="cart_num">0</span></a>
            </div>
                       
        </div>
    </div>
     <!-- КОНЕЦ Блока Topbar -->

     <!-- Блок меню-->
     <!---->
     
      
     <!---->
    <nav class="navbar navbar-expand-lg nav-med" id="nav_menu">
        <div class="container-fluid nav-med" style="background-color: #E96300;height: 90px;">
             <a class="navbar-brand brand_ural" href="{% url 'mainapp:index' %}">
                 <img src="{% static 'img/logo1.png' %}" alt="Logo" width="160" height="100" 
                    class="d-inline-block" style="text-align: center;">
                 <span class="title_menu">КОМПЛЕКСНАЯ<br> ПОСТАВКА<br> ОБОРУДОВАНИЯ КИПиА</span>
            </a>
            <button class="burger"></button>
            <div class="collapse navbar-collapse nav-bar-menu" style="font-size: 1.2rem;">
                 <ul class="nav nav-underline me-auto mb-2 mb-lg-0 sm header__menu" id="menu-list">
                     
                     <li class="nav-item">
                         <a class="nav-link {% if menu_name == 'index' %}active{% endif %}" 
                         aria-current="page" href="{% url 'mainapp:index' %}">Главная</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link {% if menu_name == 'catalog' %}active{% endif %}" 
                         aria-current="page" href="{% url 'mainapp:catalog-card' %}">Предлагаем</a>
                     </li>
                     <li class="nav-item">
                      <a class="nav-link {% if menu_name == 'catalog' %}active{% endif %}" 
                      aria-current="page" href="{% url 'mainapp:catalog-descript' %}">Продукция</a>
                    </li>
                     
                     <li class="nav-item">
                         <a class="nav-link {% if menu_name == 'contacts' %}active{% endif %}" 
                         aria-current="page" href="{% url 'mainapp:contacts' %}">Контакты</a>
                     </li>
                 </ul>
                 
                <div class="d-grid gap-2 d-md-flex justify-content-md-end head-tlf">
                    <button class="btn btn-tlf" type="submit">
                        <a href="tel:+73432068510" class="tel-a">
                            <img src="{% static 'img/tlf.jpg' %}" alt="tel" style="height: 30px;width: 30px;">
                            <span class="tel">+7(343)206-85-10</span>
                        </a>
                    </button>
                </div>
            </div>
            
        </div>
    </nav>
    
     <!-- КОНЕЦ Блок меню-->

</div>
<div class="feature__text kach" style="margin-left: 20px;">Гарантия качества, бесплатная доставка до терминала в Екатеринбурге</div>
<!-- Basket -->
<div class="popup">
  
    <div class="popup__container" id="popup_container">
      <div class="popup__item">
        <h1 class="popup__title">Оформление заказа</h1>
      </div>

      <div class="popup__item" id="popup_product_list">
        <div class="popup__product">
          <div class="popup__product-wrap">
            <p class="popup__product-title">
              Смартфон Apple IPhone 14 Pro Max 256Gb, золотой
            </p>
          </div>
          <div class="popup__product-wrap">
            <div class="popup__product-quantity">1</div>
            <button class="popup__product-delete">✖</button>
          </div>
        </div>
      </div>

      <div class="popup__item">
        <div class="popup__cost">
          <button class="popup__clear" id="popup_clear">Очистить</button>
          
          <div class="popup__cost">
            <h2 class="popup__cost-title">Итого</h2>
            <output class="popup__cost-value" id="popup_cost">1</output>
          </div>
          
        </div>
      </div>
      <button class="popup__close" id="popup_close">✖</button>
    </div>
  </div>
<!-- Stop Basket -->

<!-- Блок Баннер-->
<div class="baner mar-bot">
        <div>
            <img src="{% static 'img/photo/Image1.png' %}" id="image_1" width="100%" style="position: absolute;">
            <img src="{% static 'img/photo/Image2.png' %}" id="image_2" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image3.png' %}" id="image_3" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image4.png' %}" id="image_4" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image5.png' %}" id="image_5" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image6.png' %}" id="image_6" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image7.png' %}" id="image_7" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
           
        </div>
</div>

<!-- КОНЕЦ Блок Баннер-->
{# КОНЕЦ Блок меню #}
