{# Блок меню #}
{% load static %}

<div class="">
    <!-- Блок Topbar -->
    <div class="topbar">
        <div class="row">
 
            <div class="col d-flex flex-row justify-content-center align-items-center">
                <img src="{% static 'img/time_work.svg' %}" alt="logo_time" class="d-inline-block" style="margin-right: 10px;">
                Понедельник - пятница: 9.00 - 17.00
            </div>
            <div class="col d-flex flex-row justify-content-center align-items-center">
                <img src="{% static 'img/locat.svg' %}" alt="logo_location" class="d-inline-block" style="margin-right: 10px;">
                г.Екатеринбург, ул. Вилонова, 45Е, офис 407
            </div>
            <div class="col d-flex flex-row justify-content-center align-items-center" id="cart">
                <a href="#" style="text-decoration: none" onclick="showCart()">
                    <img src="{% static 'img/cart_svg3.svg' %}" alt="basket" class="" width="40" height="40">
                    <span class="basket_text" id="cart_num"></span></a>
            </div>
                       
        </div>
    </div>
     <!-- КОНЕЦ Блока Topbar -->

     <!-- Блок меню-->
    <nav class="navbar navbar-expand-lg nav-med" id="nav_menu">
        <div class="container-fluid nav-med" style="background-color: #E96300;height: 90px;">
             <a class="navbar-brand brand_ural" href="{% url 'mainapp:index' %}">
                 <img src="{% static 'img/logo1.png' %}" alt="Logo" width="160" height="100" 
                    class="d-inline-block" style="text-align: center;">
                 <span class="title_menu">КОМПЛЕКСНАЯ<br> ПОСТАВКА<br> ОБОРУДОВАНИЯ КИПиА</span>
            </a>
            <button class="burger"></button>
            <div class="collapse navbar-collapse nav-bar-menu" style="font-size: 1.2rem;">
                 <ul class="nav nav-underline me-auto mb-2 mb-lg-0 sm header__menu" id="menu-list">
                     
                     <li class="nav-item">
                         <a class="nav-link {% if menu_name == 'index' %}active{% endif %}" 
                         aria-current="page" href="{% url 'mainapp:index' %}">Главная</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link {% if menu_name == 'catalog' %}active{% endif %}" 
                         aria-current="page" href="/catalog/izgotovlenie-trubnoj-armatury-dlya-kipia/">Продукция</a>
                     </li>
                     <!--
                     <li class="nav-item">
                      <a class="nav-link {% if menu_name == 'service' %}active{% endif %}" 
                      aria-current="page" href="{% url 'mainapp:service' pk=5 %}">Предлагаем</a>
                    </li>
                     -->
                     <li class="nav-item">
                         <a class="nav-link {% if menu_name == 'contacts' %}active{% endif %}" 
                         aria-current="page" href="{% url 'mainapp:contacts' %}">Контакты</a>
                     </li>
                 </ul>
                 
                <div class="d-grid gap-2 d-md-flex justify-content-md-end head-tlf">
                    <button class="btn btn-tlf" type="submit">
                        <a href="tel:+73432068510" class="tel-a">
                            <img src="{% static 'img/tlf.jpg' %}" alt="tel" style="height: 30px;width: 30px;">
                            <span class="tel">+7(343)206-85-10</span>
                        </a>
                    </button>
                </div>
            </div>
            
        </div>
    </nav>
    
     <!-- КОНЕЦ Блок меню-->

</div>
<div class="feature__text kach" style="margin-left: 20px;">Гарантия качества, бесплатная доставка до терминала в Екатеринбурге</div>
<!-- Basket -->
<div class="cart-content" id="cartContent">
  <span class="close-btn" onclick="hideCart()">✖</span>
  <table>
      <thead style="margin-top: 20px;">
          <tr>
              <th>Наименование</th>
              <th>Количество</th>
              <th>Удалить</th>
          </tr>
      </thead>
      <tbody id="cartTableBody">
          <!-- Содержимое корзины будет добавляться с помощью JavaScript -->
      </tbody>
  </table>
  <button class="clear-btn" onclick="clearCart()">Очистить</button>
</div>
<!-- Stop Basket -->

<!-- Блок Баннер-->
<div class="baner mar-bot">
        <div>
            <img src="{% static 'img/photo/Image1.png' %}" id="image_1" width="100%" style="position: absolute;">
            <img src="{% static 'img/photo/Image2.png' %}" id="image_2" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image3.png' %}" id="image_3" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image4.png' %}" id="image_4" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image5.png' %}" id="image_5" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image6.png' %}" id="image_6" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
            <img src="{% static 'img/photo/Image7.png' %}" id="image_7" width="100%" style="opacity: 0; filter: alpha(opacity=0); position: absolute;">
        </div>
        <marquee class="marqu">Компания «УралКИП» Комплексная поставка оборудования КИПиА.  
            Поставляем как собственную продукцию так и изделия компаний-партнёров: НКУ, шкафы и 
            пульты управления, шкафы контроллеров, сборки РТЗО, стенды датчиков.</marquee>
</div>

<!-- КОНЕЦ Блок Баннер-->
{# КОНЕЦ Блок меню #}
